**/bin/
**/obj/
**/[Bb]in/
**/[Oo]bj/

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj.user

.vs/

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[xX]64/
[xX]86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]uild/
[Bb]uilds/

[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml
coverage/
coverage.*

**/packages/
*.nupkg
*.snupkg
*.dbmdl
*.jfm
*.pfx
*.publishproj
*.pubxml
*.pubxml.user

ScaffoldingReadMe.txt

*.log

.idea/
*.sln.iml

.vscode/

Thumbs.db
Thumbs.db:encryptable
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp

.DS_Store

docker-compose.override.yml

node_modules/
.npm/
.pnpm-store/
.yarn/
.yarn-cache/
*.tgz

*.swp
*.tmp
*.temp
